<div class="inner">
	<div class="flash">
		<div class="message error">
		  <p>There were problems with the following fields:</p>
		  <ul>
		  <% @user.errors.full_messages.each do |msg| %>
		    <li><%= msg %></li>
		  <% end %>
		  </ul>
		</div>
	</div>
</div>