<div id="box">
	<div class="block" id="block-signup">
		<h2>Sign in</h2>
		<div class="content">
			<%= form_for @user, :url => signin_path, :builder => ApplicationHelper::WebAppThemeFormBuilder, :html => { :class => "form", :method => :post } do |f| %>
				<%= f.labeled_text_field :nick %>
				<%= f.labeled_password_field :password %>
				<div class="group navform wat-cf">
					<button class="button" type="submit">
					  <img src="assets/icons/tick.png" alt="Save"> Sign in
           </button>
				</div>
			<% end %>
		</div>
	</div>
</div>
