<div class="block" id="block-text">
	<div class="content">
		<h2 class="title">Videos Section</h2>
		<div class="inner">
			<% if @videos.empty? %>
				<h3>Your videothèque is empty, you have to choices to begin:</h3>
				<ul>
				  <li>Creating video manually,</li>
				  <li>Choose a video file or a directory from your machine.</li>
				</ul>
				<p>Each option is on the menu on right side.</p>
			<% else %>
				<div class="video_list">
					<ul class="list">
						<% @videos.each do |video| %>
							<li>
								<%= image_tag video.cover.url(:list) %>
								<div class="info_video">
									<p><%= video.title %></p>
								</div>
							</li>
						<% end %>
					</ul>
				</div>
			<% end %>
		</div>
	</div>
</div>
