<% content_for :stylesheets_links do %>
	<%= stylesheet_link_tag 'main' %>
<% end %>

<% if user %>
<div class="block" id="block-text">
	<div class="content">
		<h2 class="title">Main Section</h2>
		<div class="inner">
			<h3>Select the Video section to begin your Videothèque</h3>
		</div>
	</div>
</div>
<% end %>