.box {
}

.box h2 {
	font-weight:normal;
	border-bottom:1px solid #333;
	margin-bottom:15px;
}

.box .content{
	padding:5px;
}

.box .group{
	clear:both;
	margin-bottom:12px;
	min-height:20px;
}

.box .group label{
	float:left;
}

.box .group input{
	float:right;
}

.box p{
	
	text-align:justify;
}

.box .buttons{
	margin-top:25px;
	float:right;
}