body {
	font-family: 'Lato', sans-serif;
	background-color:#E5E1E1;
	color:#333;
	font-weight: 300;
	margin:0;
  padding:140px 0 0 0;
}

@media screen{
  body>div#header{
   position: fixed;
  }
}

* html body{
  overflow:hidden;
} 

* html div#wrapper{
	height:100%;
	overflow:auto;
}


hr{
	border-bottom:1px solid #333030;
	margin:20px 0;
}

.main{
	/*font-family: 'Lato', sans-serif;*/
}

/* COMMON UTILS */
.selected_link{
	text-decoration:underline;

}

/* MESSAGES */
.message{
	margin: 10px;
}

.error{
	color:#bf0000;
	text-align:center;
}

.notice{
	color:#4d874d;
	text-align:center;
}

/* HEADER STYLE */
#header{
	position:absolute;
  top:0;
  left:0;
  width:100%;	
  height:140px;
}

header {
	height:90px;
	margin-bottom:10px;
	background:#333;
	color:#e5e1e1;
}

header h1 {
	font-size:2.2em;
	margin-top:20px;
	font-weight: 700;
	/*font-family:'century gothic';*/
}

header a {
	color:#e5e1e1;
	text-decoration:none;
}

header a:hover {
	color:#f1f1f1;
}

header ul {
	font-size:0.9em;
	margin-top:42px;
}

header li {
	padding:0 20px 0 0;
}

#main{
	
}

#user-navigation ul {
	float:right;
}

ul.inline li { 
	display: inline; 
	list-style-type: none;
}


/* MENU */
#menu{
	height:20px;
	margin-bottom:20px;
	text-align:center;
}

#menu ul{
	font-size:.8em;
}

#menu li{
	display:inline;
	padding:0 20px 0 0;
}

#menu a{
	text-decoration:none;
	color:#333;
}

#menu a:hover{
	color:#473f3f;
	text-decoration:underline;
}
 
/* WRAPPER STYLE */
#wrapper{
	min-height:400px;
	color:#333;
}

/* FOOTER STYLE */
footer {
	margin-top:100px;
	font-size:.7em;
	text-align:center;
}

/* SIDEBAR */






.debug_dump {
	font-size:.6em;
	margin-top:20px;
	text-align:left;
}

/* BUTTONS */
.button img{
	margin-right: 5px;
}

/* OUTILS */
.separator_40{
 margin-bottom: 40px;	
}