body {
	font-family: 'Lato', sans-serif;
	background-color:#E5E1E1;
	color:#333;
	font-weight: 300;
	margin:0;
  padding:110px 0 0 0;
}

@media screen{
  body>header{
   position: fixed;
  }
}

* html body{
  overflow:hidden;
} 

* html div#wrapper{
	height:100%;
	overflow:auto;
}


hr{
	border-bottom:1px solid #333030;
	margin:20px 0;
}

.main{
	/*font-family: 'Lato', sans-serif;*/
}

/* COMMON UTILS */
.selected_link{
	text-decoration:underline;

}

/* MESSAGES */
.message{
	margin: 10px;
}

.error{
	color:#bf0000;
	text-align:center;
}

.notice{
	color:#4d874d;
	text-align:center;
}

/* HEADER STYLE */
header{position:absolute; top:0; left:0; width:100%; height:90px; color:#e5e1e1; z-index:1000;}
header h1{font-size:2.2em; font-weight: 700; padding-top:5px; /*font-family:'century gothic';*/}
header a{color:#e5e1e1; text-decoration:none;}
header a:hover{color:#f1f1f1;}
header ul{font-size:0.9em;}
header li{display: inline; list-style-type: none;}

#header{overflow:hidden; padding-bottom: 5px; background:#333; height:60px;}
#main-navigation{text-align:center; vertical-align:bottom; padding-top:29px;}
#main-navigation li{padding:0 10px 0 10px;}
#user-navigation ul{text-align:right; padding-top:29px;}
#user-navigation li{padding-left:20px; text-align:right; padding-top:29px;}

#menu{text-align:center; padding-bottom:2px; padding-top:2px; background:#666; border-top:1px solid black; border-bottom:1px solid black;}
#menu ul{font-size:.8em;}
#menu li{display:inline; padding:0 10px 0 10px;}
/*#menu a{text-decoration:none; color:#333;}
#menu a:hover{color:#473f3f; text-decoration:underline;}*/
 
/* WRAPPER STYLE */
#wrapper{
	min-height:400px;
	color:#333;
}

/* FOOTER STYLE */
footer {
	margin-top:100px;
	font-size:.7em;
	text-align:center;
}




.debug_dump {
	font-size:.6em;
	margin-top:20px;
	text-align:left;
}

/* BUTTONS */
.button img{
	margin-right: 5px;
}

/* OUTILS */
.separator_40{
 margin-bottom: 40px;	
}