// Place all the styles related to the videos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


//#block-text .content .inner ul { margin-left:20px; } 

.text_area { height:100px }

#wrapper .grid_12{
}

.video_item{
	display:inline-block;
	width:134px;
	margin:0 1px;
	min-height:260px;
	font-size:.9em;
}

.info_video{
	display:inline-block;
	width: 126px;
	padding:2px;
	text-align: left;
	line-height: 1em;
}

/* SIDEBAR */
.sidebar{
	font-size:.9em;
}